{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="small-12 columns">
        <h1> All Pages </h1>
    </div>
</div>

<div class="row">
    <div class="small-12 columns ">
        <input type="text" class="search" name="searchBox" / style="display:inline-block;width:calc(100% - 150px);">
        <button>Search</button>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        {% if 0 == pages.length %}
            No Pages Available,
            you can create one <a href="{{baseUrl}}/pages/add">here</a>
        {% endif %}
        <ul class="pages">
            {% for page in pages %}
                <li><a href="{{baseUrl}}/pages/edit/{{page.id}}">{{page.name}}</a></li>
            {% endfor %}
        </ul>
        <a href="{{baseUrl}}/pages/add" class="button">Add Page</a>
    </div>
</div>

{% endblock %}
